In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
species = pd.read_csv("species_info.csv")
species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [6]:
species_count = species['scientific_name'].unique
species_count

<bound method Series.unique of 0       Clethrionomys gapperi gapperi
1                           Bos bison
2                          Bos taurus
3                          Ovis aries
4                      Cervus elaphus
                    ...
5819                 Solanum parishii
5820                    Solanum xanti
5821           Parthenocissus vitacea
5822                Vitis californica
5823              Tribulus terrestris
Name: scientific_name, Length: 5824, dtype: object>

In [7]:
species_type = species['category'].unique()
species_type

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Nonvascular Plant'], dtype=object)

In [9]:
conservation_statuses = species['conservation_status'].unique()
conservation_statuses

array([nan, 'Species of Concern', 'Endangered', 'Threatened',
       'In Recovery'], dtype=object)

In [10]:
category_counts = species.groupby(['category'])['scientific_name'].nunique().reset_index()
category_counts

            category  scientific_name
0          Amphibian               79
1               Bird              488
2               Fish              125
3             Mammal              176
4  Nonvascular Plant              333
5            Reptile               78
6     Vascular Plant             4262

In [11]:
category_counts.sort_values('scientific_name', ascending=False).reset_index()

   index           category  scientific_name
0      6     Vascular Plant             4262
1      1               Bird              488
2      4  Nonvascular Plant              333
3      3             Mammal              176
4      2               Fish              125
5      0          Amphibian               79
6      5            Reptile               78

In [14]:
conservation_counts = species.groupby(['conservation_status'])['scientific_name'].nunique().reset_index()
conservation_counts.sort_values('scientific_name', ascending=False).reset_index()

   index conservation_status  scientific_name
0      2  Species of Concern              151
1      0          Endangered               15
2      3          Threatened               10
3      1         In Recovery                4

In [19]:
species.fillna('No Intervention', inplace = True)

In [18]:
species

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,No Intervention
1,Mammal,Bos bison,"American Bison, Bison",No Intervention
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",No Intervention
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",No Intervention
4,Mammal,Cervus elaphus,Wapiti Or Elk,No Intervention
...,...,...,...,...
5819,Vascular Plant,Solanum parishii,Parish's Nightshade,No Intervention
5820,Vascular Plant,Solanum xanti,"Chaparral Nightshade, Purple Nightshade",No Intervention
5821,Vascular Plant,Parthenocissus vitacea,"Thicket Creeper, Virginia Creeper, Woodbine",No Intervention
5822,Vascular Plant,Vitis californica,"California Grape, California Wild Grape",No Intervention
5823,Vascular Plant,Tribulus terrestris,"Bullhead, Caltrop, Goathead, Mexican Sandbur, ...",No Intervention

In [20]:
species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,No Intervention
1,Mammal,Bos bison,"American Bison, Bison",No Intervention
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",No Intervention
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",No Intervention
4,Mammal,Cervus elaphus,Wapiti Or Elk,No Intervention

In [25]:
conservation_counts_fixed = species.groupby(['conservation_status'])['scientific_name'].nunique().reset_index()
conservation_counts_fixed.sort_values('scientific_name', ascending=False)

  conservation_status  scientific_name
2     No Intervention             5363
3  Species of Concern              151
0          Endangered               15
4          Threatened               10
1         In Recovery                4

In [ ]:
protection